/* Checkboxes
   ========================================================================== */

/* CUSTOM CSS CHECKBOXES */
.form__checkbox {
  visibility: hidden;
  position: absolute;
  left: -9999rem;

  & ~ label {
    display: table;
    position: relative;

    .chbox_cell {
      display: table-cell;
      vertical-align: middle;
      text-align: left;

      .chbox_bd {
        position: relative;
        display: block;
        width: 23px;
        height: 23px;
        margin: 0 10px 0 0;
        background-color: transparent;
        border: 0.063rem solid $color-primary;
        cursor: pointer;
        border-radius: 0.188rem;

        &:before {
          content: '';
          display: none;
          width: 10px;
          height: 8px;
          position: absolute;
          right: auto;
          top: 7px;
          left: 6px;
          background-color: transparent;
          background-position: 0 0;
          background-repeat: no-repeat;
          -webkit-background-size: 10px 8px;
          background-size: 10px 8px;
        }
      }
    }
  }

  &:checked ~ label .chbox_bd:before {
    display: block;
  }

  ~ span.error {
    position: relative !important;
    top: 0 !important;
    left: 36px !important;
  }
}