// Remove Focus Boxes
select:focus,
button:focus {
  outline: none !important;
}

@import 'buttons';
//@import 'input-fields';
//@import 'radio-buttons';
@import 'checkboxes';
//@import 'switches';
//@import 'select';
//@import 'file-input';
//@import 'range';
