/*!
  * Personal styles for template 1
*/

@import "vars";
@import "../../sass/utilities/mixins";

a {
  color: $color-link;

  &:hover { color: $color-link-hover;}

  &.color-inverse {
    color: $color-base;

    &:hover { color: $color-primary; }
  }
}

.link {
  color: $color-link;

  &:hover { color: $color-link-hover; }

  &-dot { border-bottom-color: $color-base; }

}

.color {
  &-white { color: #fff; }
  &-red { color: #ef4040; }
  &-yellow { color: #ffc000; }
  &-orange { color: #ff9600; }
  &-silver { color: #b0b0b0; }
  &-blue { color: #1eacd0; }
  &-black { color: #303030; }
  &-base { color: $color-base; }
  &-primary { color: $color-primary; }
  &-secondary { color: $color-secondary; }
}

.btn {
  &-primary {
    color: #fff !important;
    background-color: $color-primary;

    &:hover,
    &:focus {
      color: #fff !important;
      background-color: lighten($color-primary, 10%);
    }
  }

  &-link {
    &:hover {
      color: $color-link-hover;
    }
  }
}

.logo {
  &__badge {
    .highlight {
      color: $color-primary;
    }
  }
}

.navmenu {
  &__list {
    a {
      color: $color-base;

      &:hover,
      &:focus {
        color: $color-primary;
      }
    }
  }
}

.menu-trigger__line {
  background-color: $color-base;
}

.contact {
  &-item {
    &--address {
      background-image: url('#{$img}/map.svg');
    }

    &--phone {
      background-image: url('#{$img}/phone.svg');
    }
  }
}

.cover {
  background-image: url("#{$img}/cover.jpg");

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url("#{$img}/cover@2x.jpg");
  }
}

.tab {
  &:hover {
    border-bottom-color: $color-primary;
  }

  &.active {
    border-bottom-color: $color-primary;
  }
}

.irs {
  &-line {
    &-left {
      background: $color-primary;
    }
  }
  &-bar {
    background-color: $color-primary;
  }
}

.calculate {
  &__button {
    text-shadow: 0 0.063rem 0.063rem darken($color-primary, 20%);
  }
}

.section {
  &.map-outline {
    background-image: url("#{$img}/map_outline.svg");
  }
  &.money {
    background-image: url("#{$img}/money.svg");
  }
  &.wallet {
    background-image: url("#{$img}/wallet.svg");
  }
  &.pen {
    background-image: url("#{$img}/pen.svg");
  }
  &.question {
    background-image: url("#{$img}/question.svg");
  }
  &.doc {
    background-image: url("#{$img}/doc.svg");
  }
  &.phone-outline {
    background-image: url("#{$img}/phone_outline.svg");
  }

}

.ac-pane {

  &.active {
    .ac-title {
      color: $color-primary;

    }
  }
}

.list-doc {
  a {
    &:hover { color: $color-primary; }
  }
}

.point-item {
  &.active {
    background-image: url("#{$img}/map_single.svg");

    .point-item__address {
      color: $color-primary;
    }
  }
}

.form__checkbox {
  & ~ label {
    .chbox_cell {
      .chbox_bd {

        border-color: $color-primary;

        &:before {
          background-image: url('#{$img}/checkbox.svg');
        }
      }
    }
  }
}

.btn-large {
  text-shadow: 0 0.063rem 0.063rem darken($color-primary, 20%);
}

.popup {
  &__icon {
    &.success {
      background-image: url("#{$img}/thumb-up.svg");
    }
  }
}